{% extends 'layout.twig' %}

{% block title %}Анализатор страниц{% endblock %}

{% block content %}
    <div class="container-lg mt-3">
        <h1>Сайты</h1>
        <div class="table-responsive">
            <table class="table table-bordered table-hover text-nowrap" data-test="urls">
                <thead>
                <tr>
                    <th>ID</th>
                    <th>Имя</th>
                    <th>Последняя проверка</th>
                    <th>Код ответа</th>
                </tr>
                </thead>
                <tbody>
                {% for url in urls %}
                    <tr>
                        <td>{{ url.getId() }}</td>
                        <td>
                            <a href="{{ url_for('urls.show.id', { 'id': url.getId() }) }}">{{ url.getName() }}</a>
                        </td>
                        <td>{{ url.getLastCheckAtForHuman() }}</td>
                        <td>{{ url.getStatusCode() }}</td>
                    </tr>
                {% endfor %}
                </tbody>
            </table>
        </div>
    </div>
{% endblock %}
